.image-slider-container {
    overflow-x: auto;
    white-space: nowrap;
    /* Adjust the padding to accommodate the smaller scrollbar */
    padding-bottom: 10px;
  }
  
  .image-slider-container::-webkit-scrollbar {
    height: 6px; /* Width of the entire scrollbar */
  }
  
  .image-slider-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the tracking area */
    border-radius: 3px;
  }
  
  .image-slider-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 3px;
  }
  
  .image-slider-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
  }